<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8"><meta name="viewport" content="width=device-width,initial-scale=1">
<title>IIMS Portal</title>
<link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}">
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
<div class="app">
<aside class="sidebar">
  <div class="brand">
    <img src="{{ url_for('static', filename='ongc-logo-old.png') }}" class="img" alt="ONGC Logo">
    <img src="{{ url_for('static', filename='ongc-logo-new.png') }}" class="img" alt="ONGC Logo">
    <small>Western Offshore Assets </small></div>
  <nav>
    <a href="/">🏠 Home Dashboard</a>
   <a href="/assign">👤 Assign Indent</a> 
   <a href="/view-indents">📄 View Indents</a>   
    <a href="/search-indent">🔍 Search Indent</a>    
   <a href="/contracts">📦 Contract / Order</a>
   <a href="/post-contract">📝 Post Contract</a>
    <a href="/instruments">🛡 SD / PBG / EMD</a>
    <a href="/demurrage">🚢 Demurrage</a>
    <a href="/reports">📊 Monthly Reports</a>
  </nav>
 
</aside>
<main class="content">
<header>
<div class="brand"><h1 class="main-header">Integrated Indent Management System</h1>
<h1>{% block heading %}SCM Portal{% endblock %}</h1></div><div id="clock">

</div>
 <div class="userbox">{{ current_user.user_name }}<br><span>{{ current_user.role }}{% if current_user.hpo %} · {{ current_user.hpo }}{% endif %}</span><br><a href="/logout">Logout</a></div>

</header>
{% with messages=get_flashed_messages(with_categories=true) %}{% for cat,msg in messages %}
<div class="alert {{cat}}">{{msg}}</div>{% endfor %}{% endwith %}
{% block content %}{% endblock %}
</main>
</div>
<script src="{{ url_for('static',filename='js/app.js') }}"></script>
{% block scripts %}{% endblock %}
</body></html>
